project:
  type: website
  output-dir: _site

website:
  title: "Publication Ready Tables in R"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: gt.qmd
        text: "Beautiful tables"
      - href: gtsummary.qmd
        text: "Beautiful tables for models"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



